# This is a basic workflow to help you get started with Actions

name: Flutter Build

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ master ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-java@v2
      with:
        distribution: 'zulu'
        java-version: '11'
    - uses: subosito/flutter-action@v2
      with:
        flutter-version: '2.10.0'
    - run: flutter pub get
    - run: flutter pub run build_runner build
    - run: flutter build apk
    - run: flutter build appbundle

    - name: Archive artifacts
      uses: actions/upload-artifact@v2
      with:
        name: release-apk
        path: |
          build/app/outputs/apk/release/app-release.apk 
          build/app/outputs/bundle/release/app-release.aab
